{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}

    <h1>Create a New Wiki Page</h1>
    <br>
    {% if valid == False %}
        <h3>Input is invalid!</h3>
    {% elif duplicate == True %}
        <h3>Page with title '{{ title }}' already exists!</h3>
    {% endif %}

    <form action="{% url 'encyclopedia:newpage' %}" method="post">
        {% csrf_token %}
        <div>
            {{ form }}
        </div>
        <input type="submit" value="Save Page">
    </form>

{% endblock %}